@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="container-fluid">
        <h2 class="text-center text-warning  m-2">MyShop.Com</h2>
        <div class="bg-image m"
             style="
    background-image: url('https://cdn.pixabay.com/photo/2018/05/16/18/08/e-commerce-3406613__340.jpg');
    height: 600px;
  "></div>
    </div>

</body>