@model EcommerceProject.Models.UserPasswordModel

@{
    ViewData["Title"] = "SetPassword";
}

<section class="" style="background-color: #9A616D;">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="card-body p-4 p-lg-5 text-black">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">

                                <form asp-action="SetPassword">

                                    @*<div class="d-flex align-items-center mb-3 pb-1">
                                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                    <span class="h1 fw-bold mb-0">Logo</span>
                                    </div>*@

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Set Your Password</h5>

                                    <div class="form-outline mb-4">

                                        <input class="form-control form-control-lg" id="Id" name="Id" value="@ViewBag.id" type="hidden" required>

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="Password">Password</label>
                                        <input type="password" class="form-control form-control-lg" placeholder="Password" id="password" name="Password" required>

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="confirm_password">Confirmed Password</label>
                                        <input type="password" placeholder="Confirm Password" id="confirm_password" class="form-control form-control-lg" name="ConfirmedPassword" required>

                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block mt-4 form-control" type="submit" value="SetPassword">Login here</button>

                                    </div>


                                    <a href="#!" class="small text-muted">Terms of use.</a>
                                    <a href="#!" class="small text-muted">Privacy policy</a>
                                </form>
                            </div>
                            <div class="col-2">   </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var password = document.getElementById("password")
        , confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
